@use "sass:math";

$baseSize: 100;

@function px2rem($px) {
  @return math.div($px, $baseSize) *1rem;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  background-color: #0a0e27;
}

#app {
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
}
.videoList{
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  -ms-overflow-style: none;  /* IE 和 Edge */
  scrollbar-width: none;  /* Firefox */
}
