:root{
  --header-color: #358FE3;
}
// 设置主题变量
.dark-theme{
  --header-color: #00ff88;
}

$header-color: var(--header-color);

// size
$header-height: 88;
$center-left-width: 260; // 260 330
$center-right-width: 260;// 260
$header-main-height: 76; 

