.DS_Store
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
plgDoc
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
unpackage
.hbuilderx
.hbuilderx
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log
*.tsbuildinfo
.eslintcache
coverage
*.tgz
*.tar.gz
.nyc_output
.cache
.temp
.temp
*.tmp
*.bak
*.swp
*~
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.env
.env.local
.env.*.local
